name: intel mac hash build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-13
    steps:
      - uses: actions/checkout@v4

      - uses: cachix/install-nix-action@v27
        with:
          nix_path: nixpkgs=.

      - name: Build keycloak-discord
        run: |
          nix-build -A keycloak.plugins.keycloak-discord
